<div class="row">
  <div class="col-lg-12 filter-post wow bounceInUp post-class" data-wow-delay="0.2s" data-wow-duration="1.4s"
       style="width: 100%">
    <div class="box" style="padding-bottom: 0px;border:1px solid gray;background-color:transparent">
      <div style="height: 10px;" class="row">
        <div style="text-align: left;" class="col-sm-6 row">
        </div>
        <div  class="col-sm-6" style="text-align: right;">
          <h6>{{ post.date |date:"HH:mm dd/MM/yyyy" }}</h6>
        </div>
      </div>

      <a href="/blog"> <!-- /blog/{client.personal} -->
        <img id="profile_pic" class="profile_img" src="../media/{{ post.client.profile_pic }}" style="width: 60px;height: 60px" />
        <p> {{ post.client.name }} </p>
      </a>
      <h4 class="title">{{ post.title }}</h4>
      <p class="description">{{ post.text }}  </p>

      <img style="max-width: 800px;max-height: 350px" id="myImg" class="profile_img" src="../media/{{ post.image }}" />
      <br><br>
      <hr style="background-color:white">
      <div class="row col-sm-12 mb-3" style="padding-top: -2px">
        <div class="col-sm-6" style="text-align: left; padding-left: 30px; font-size: 20px;">
          <input name="post_id" type="text" value="{{ post.id }}" style="display: none" required>
          <input name="post_id" type="text" value="{{ post.id }}" style="display: none" required>
            <button id="like{{ post.id }}" [ngClass]="post.liked ? 'liked' : 'disliked' " value="like"  style="background: transparent; border: 0px" (click)="likePost()">
              <mat-icon>thumb_up</mat-icon> <span class="likeNumber"  id="number{{ post.id }}">{{ post.likes.length }}</span>
            </button>
        </div>

        <div class="col-sm-6" style="text-align: right; font-size: 20px;">
          <app-comments-modal [post]="post"  #commentsModal></app-comments-modal>
          <a (click)="commentsModal.showModal()">
            <span>{{ post.comments.length  }} Comments</span></a>
        </div>
      </div>

    </div>
  </div>
</div>
