.post-class {
  color: white;
  padding: 60px 0 40px 0;
  text-align: center;
}

.maindiv {
  padding-right: 30px;
  padding-left: 30px;
}

.likeNumber{
  padding-left: 3px;
}
.liked {
  color:#007bff
}
.disliked {
  color:grey;
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

/*.box:hover {*/
/*  -webkit-transform: scale(1.1);*/
/*  transform: scale(1.1);*/
/*}*/

.icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.title {
  margin-bottom: 15px;
  font-size: 25px;
}

.title a {
  color: #111;
}

.box:hover .title a {
  color: #1bb1dc;
}

.description {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}
