<div class="row col-sm-12">

  <div *ngIf="blog.permission" class="col-sm-3">
    <app-blog-settings [blog]="blog" ></app-blog-settings>
  </div>

  <div class="header" [ngClass]="blog.permission ? 'col-sm-9' : 'col-sm-12'">

    <h1>{{blog.name}}</h1>

    <span *ngFor="let topic of blog.topic"> &emsp;{{topic.name}} </span>

    <h2>{{ blog.description }}</h2>
    {{blog.owner[0].user.username}}
    <div class="clearfix" *ngIf="!blog.permission">
      <button (click)="blog_follow()" [innerHTML]="blog.subbed ? '- Unfollow' : '+ Follow'" id="follow-button" type="submit" name="Option" value="Follow">+ Follow</button>
    </div>

    <div class="row create_post" *ngIf="blog.subbed">
      <app-create-post [blog]="blog" #blogCreatePostModal></app-create-post>
      <button (click)="blogCreatePostModal.showModal()" mat-raised-button color="primary">Create Post</button>
    </div>

    <app-post *ngFor="let post of blog.posts" [post]="post"></app-post>

  </div>


</div>

