<div class="row" [style]="hasPage ? 'padding-left: 7% ;padding-right: 7%' : ''">
  <div class="col-2">
    <app-post-filters [(posts)]="posts"></app-post-filters>
  </div>
  <div class="col-10">
    <div class="create_post">
      <app-create-post #blogCreatePostModal [blog]="blog"></app-create-post>
      <button (click)="blogCreatePostModal.showModal()" mat-raised-button id="create_post">Create Post</button>
    </div>
    <div class="row" *ngFor="let post of posts" [style]="hasPage ? 'padding-left: 50px ;padding-right: 50px' : ''">
      <app-post [post]="post"></app-post>
    </div>
  </div>
</div>
