<ng-template #template let-modal>
  <form (ngSubmit)="updateBlog()">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">

      <div *ngFor="let topic of topics">
        <mat-checkbox class="example-margin" *ngIf="topic.name != 'Personal'"
                      [checked]="checkTopic(topic)"
                      [color]="'#007bff'"
                      (change)="selectTopic(topic, $event.checked)">
          {{topic.name}}
        </mat-checkbox>
      </div>


    </div>


  </div>
  <div class="modal-footer">
    <button (submit)="updateBlog()" class="btn rounded-pill btn-block btn-primary" name="updateBlog" value="updateBlog">
      Save Changes
    </button>
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
  </form>

</ng-template>
