<div id="security_div" class="card card-fluid">

  <h6 class="card-header" ><h2>Account</h2></h6>
  <div class="card-body">
    <form (ngSubmit)="updateAccount()">

      <div class="row mb-3">
        <div class="col-lg-12" >
          <label for="username-input">Username</label>
          <input id="username-input" readonly [(ngModel)]="user.username" name="username" type="text" class="form-control">
        </div>

      </div>

      <div class="row mb-3">
        <div class="col-lg-12" >
          <label for="email-input">Email</label>
          <input id="email-input" [(ngModel)]="user.email" name="email" type="text" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12" >
          <label for="password1-input">New Password</label>
          <input id="password1-input" [(ngModel)]="user.password" name="password1" type="password" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12" >
          <label for="password2-input">Confirm Password</label>
          <input id="password2-input" [(ngModel)]="user.password2" name="password2" type="password" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" >
          <button type="submit" mat-raised-button class="btn rounded-pill btn-block btn-primary" name="security" value="Update Account">Update Account</button>
        </div>
      </div>
    </form>
  </div>
</div>
