<div id="security_div" class="card card-fluid">

  <h6 class="card-header" style="color:white"><strong>Account</strong></h6>
  <div class="card-body">
    <form (ngSubmit)="updateAccount()">

      <div class="row mb-3">
        <div class="col-lg-12" style="color:white">
          <label for="username-input">Username</label>
          <input id="username-input" name="username" type="text" class="form-control">
        </div>

      </div>

      <div class="row mb-3">
        <div class="col-lg-12" style="color:white">
          <label for="email-input">Email</label>
          <input id="email-input" name="email" type="text" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12" style="color:white">
          <label for="password1-input">New Password</label>
          <input id="password1-input" name="password1" type="password" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12" style="color:white">
          <label for="password2-input">Confirm Password</label>
          <input id="password2-input" name="password2" type="password" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" >
          <button type="submit" class="btn rounded-pill btn-block btn-dark" name="security" value="Update Account">Update Account</button>
        </div>
      </div>
    </form>
  </div>
</div>
