@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  z-index: 9999999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;

}

.dropdown-toggle::after {
  margin-left: 10px;
  font-size: 30px;
}

.covernav {
  height: 70px;
}

ul {
  padding: 0;
  list-style: none;
}

.twitter {
  display: flex;
}

.twitter__bird {
  margin-left: auto;
  margin-right: auto;
}

.twitter {
  height: 46px;
  align-items: center;
}

.twitter li {
  font-size: 1.5em;
  color: #007bff;
  cursor: pointer;
}

.twitter li:hover {
  color: rgba(85, 172, 238, 1);
}

.twitter__bird {
  color: rgba(85, 172, 238, 1);
  font-size: 1.5em;
}

.twitter li:not(:last-child):not(.twitter__bird) {
  margin-right: 10px;
}

.twitter li i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}

.fa-user-circle-o {
  font-size: 1.7em;
  color: rgba(29,161,242,1.00)
}

#nav_btn {
  background-color: rgba(29,161,242,1.00);
  color: white;
  font-size: .7em;
  border-radius: 100px;
}

#image {
  max-width: 40px;
  max-height: 40px;
}

#image2 {
  max-width: 38px;
  max-height: 38px;
}

.navbar-inverse {
  padding-top: 5px;

  height: 60px;
  transition: all 0.5s ease-in;
  background-color: white;
  color: rgba(29,161,242,1.00)
}

.navbar-normal {
  padding-top: 10px;

  height: 90px;
  color: rgba(29,161,242,1.00);
  transition: all 0.5s ease-in;
  background-color: transparent;
}
