.box{
  width: 100%;
  padding: 10px;
  display: table;
  color: black;
  border:1px solid gray;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  width:290px;
  height: 254px;
}

.blog_pic{
  width: 60px;
  height: 60px;
  border:2px solid white;
  border-radius: 50%;
}

.blog_title{
  padding-top: 30px;
  color: #007bff;
}

/* TODO: change url */
.blog_icon{
  /*background-image: url('../media/default/default_blog.png');*/
  border-radius:50%;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
