<mat-card class="example-card box">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <a routerLink="/blog/{{ blog.id }}"><mat-card-title >{{ blog.name }}</mat-card-title></a>
  </mat-card-header>
  <img class="img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>{{ blog.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <p>
      <span *ngFor="let topic of blog.topic"> {{topic.name}} </span>
    </p>
    <span style="padding-right: 20px">Subs: {{ blog.subs.length }}</span>
    <span>Posts: {{ blog.posts.length }}</span>
  </mat-card-actions>
</mat-card>


