<div>
  <form action="" method="POST" name="edit_profile" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12">
              <img id="profile_pic" style="border:1px solid white;border-radius: 50%" class="profile_img" src="../media/{{ client.profile_pic }}" />
            </div>
          </div>
          <div class="row edit_input" style="display: none">
            <div class="col-lg-12">
              <input type="file">
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card card-fluid" style="border:1px solid gray">
            <div class="card-body">
              <div class="row alert alert-danger" style="display: none">
                Form Errors
              </div>
              <div class="container">
                <div  class="row">
                  <div  class="col-lg-12">
                    <div class="display_profile" id="display_name">
                      <!-- Name -->
                      <mat-form-field >
                        <mat-label>Name</mat-label>
                        <input [readonly]="(owner && updating) ? null : 'readonly'" matInput type="text" name="name" [(ngModel)]="client.name">
                      </mat-form-field>
                    </div>
                    <div class="edit_input" style="display: none">
                      <input type="text" placeholder="Name">
                    </div>
                    <div class="row sub_head">
                      <div class="col-lg-11">@{{ client.user.username }}</div>
                      <div *ngIf="owner" class="col-lg-1">
                        <button type="button" id="edit_button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row sub_head">
                  <div class="col-lg-4">
                    <!-- Sex -->
                      <mat-form-field   appearance="fill">
                        <mat-label>Sex</mat-label>
                        <mat-select [disabled]="(owner && updating) ? null : 'readonly'"  [(value)]="client.sex" name="sex">
                          <mat-option value="Male">Male</mat-option>
                          <mat-option value="Female">Female</mat-option>
                          <mat-option value="Other">Other</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-lg-5">

                    <!-- Birthdate  -->
                    <mat-form-field appearance="fill">
                      <mat-label>Choose a date</mat-label>
                      <input [readonly]="(owner && updating) ? null : 'readonly'" matInput [matDatepicker]="picker" name="date" [(ngModel)]="client.birthdate" >
                      <mat-datepicker-toggle [disabled]="(owner && updating) ? null : 'readonly'" matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker startView="year" [startAt]="'1/1/1900'" ></mat-datepicker>
                    </mat-form-field>

                  </div>

                </div>
              </div>
              <hr style="background-color: white">

              <div id="profile_body" class="row">
                <div class="col-lg-12">
                  <!-- Description -->
                  <mat-form-field style="width:80%">
                    <mat-label>Description</mat-label>
                    <textarea [readonly]="(owner && updating) ? null : 'readonly'" name="description" matInput [(ngModel)]="client.description"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div [hidden]="updating ? 'hidden' : null" class="row">
                <button type="button" class="rounded-pill btn btn-primary" (click)="updating = true">Edit Profile</button>
              </div>
              <div [hidden]="updating ? null : 'hidden'" class="row">
                <button type="submit" class="rounded-pill btn btn-primary" (click)="updateProfile()">Save Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
