<div class="row col-sm-12">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <mat-tab-group mat-align-tabs="center"
                   [selectedIndex]="route.snapshot.paramMap.get('str') == 'blogs' ? 1 : 0">

        <mat-tab label="Posts" tab="posts">

          <div class="newt">
            <app-main-posts-page [hasPage]="false" ></app-main-posts-page>
          </div>

        </mat-tab>

      <mat-tab label="Blogs" tab="blogs" active>

        <div class="newt">
          <app-main-blog-page [hasPage]="false" ></app-main-blog-page>
        </div>

      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-sm-2"></div>
</div>
