mat-form-field{
  width: 100%!important;
  font-size: 18px !important;
}

mat-label {
  color: white;
}

mat-input {
  color: black;
}

.form-group {
  color: white;
}

.register {
  background-color: rgba(29,161,242,1.00);
  color: white;
  font-weight: bold;
}

