.w3-card {
  color: black;
  font-weight: bold;
  max-width: 350px;
  margin-bottom: auto;
}



h4 {
  padding-top: 13px;
}

.w3-bar-item {
  height: 50px;
}

.w3-bar-item:hover {
  cursor: pointer;
  background-color: rgba(29,161,242,1.00);
}

.w3-bar-item:hover .w3-button {
  color: white;
}

.w3-button {
  padding-top: 14px;
  height: 100%;
  margin: auto;
}

.disabled_div {
  background-color: rgba(250, 250, 250, 1);
}

.disabled_btn {
  color: darkgrey;
  text-decoration: none;
}

.disabled_btn:hover {
  cursor: default;
  background-color: rgba(250, 250, 250, 0.4);
}

#danger:hover {
  color: red;
}

.mat-list-item-content {
  width: 115%;
}

.w3-bar-item {
  width: 100%;
}
