<app-blog-edit-name-modal [blog]="blog" #blogEditNameModal></app-blog-edit-name-modal>
<app-blog-edit-owners-modal #blogEditOwnersModal></app-blog-edit-owners-modal>
<app-blog-edit-topics-modal [blog]="blog" #blogEditTopicsModal></app-blog-edit-topics-modal>
<app-blog-edit-invites-modal #blogEditInvitesModal></app-blog-edit-invites-modal>
<app-blog-edit-visibility-modal [blog]="blog" #blogEditVisibilityModal></app-blog-edit-visibility-modal>

<div class="w3-card row col-sm-12">

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>

        <mat-panel-title>
          <h4> SETTINGS </h4>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="row w3-bar-item">
        <a (click)="blogEditNameModal.showModal()" class="w3-button"> Name / Description </a>
      </div>
      <div class="row w3-bar-item" *ngIf="!blog.personal">
        <a (click)="blogEditOwnersModal.showModal()" href="" class="w3-button"> Owners </a>
      </div>
      <div class="row w3-bar-item">
        <a (click)="blogEditTopicsModal.showModal()" class="w3-button">  Topic </a>
      </div>
      <div class="row w3-bar-item">
        <a (click)="blogEditVisibilityModal.showModal()" class="w3-button"> Visibility </a>
      </div>
      <div class="row w3-bar-item" *ngIf="blog.invites.length == 0" id="disabled_div">
        <a class="w3-button" disabled id="disabled_btn"> No Invites </a>
      </div>
      <div class="row w3-bar-item" *ngIf="blog.invites.length > 0">
        <a (click)="blogEditInvitesModal.showModal()" class="w3-button"> Invites </a>
      </div>

    </mat-expansion-panel>
  </mat-accordion>


</div>
