<div class="w3-card row col-sm-12">

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>

        <mat-panel-title>
          <h4> SETTINGS </h4>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="row w3-bar-item">
        <a href="" class="w3-button"> Name / Description </a>
      </div>
      <div class="row w3-bar-item" *ngIf="!blog.personal">
        <a href="" class="w3-button"> Owners </a>
      </div>
      <div class="row w3-bar-item">
        <a href="" class="w3-button"> Visibility </a>
      </div>
      <div class="row w3-bar-item">
        <a href="" class="w3-button"> No Invites </a>
      </div>
      <div class="row w3-bar-item">
        <a href="" class="w3-button w3-white">  Topic </a>
      </div>
      <div class="row w3-bar-item">
        <a href="" class="w3-button w3-white"> Invites </a>
      </div>

    </mat-expansion-panel>
  </mat-accordion>


</div>
