.w3-card {
  color: white;
  font-weight: bold;
}

.w3-bar-item {
  height: 50px;
}

.w3-button {
  color: white;
  font-weight: bold;
  padding-top: 13px;
}

.w3-button:hover {
  background-color: rgba(29,161,242,1.00);
  color:white;
}


#disabled {
  background-color: rgba(250, 250, 250, 0.4);
}
