<div class="card card-fluid register">
  <div class="card-header"><h2>Register</h2></div>

  <div class="card-body">
    <h3 class="card-title">Join the club.</h3>

    <form (ngSubmit)="register()">
      <div id="email_div"  class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" name="email" [(ngModel)]="email">
          <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div id="username_div"  class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="username">
          <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div id="pass_div"  class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password">
          <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div id="cpass_div"  class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" name="cpassword" [(ngModel)]="cpassword">
          <button mat-button *ngIf="cpassword" matSuffix mat-icon-button aria-label="Clear" (click)="cpassword=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <button type="submit"  class="btn rounded-pill btn-block" style="color: #007bff; background-color: white"
              mat-raised-button value="Register" name="register">Register</button>
    </form>

  </div>
</div>
