<div>
  <form action="" method="POST" name="edit_profile" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12">
              <img id="profile_pic" style="border:1px solid white;border-radius: 50%" class="profile_img" src="../media/{{ client.profile_pic }}" />
            </div>
          </div>
          <div class="row edit_input" style="display: none">
            <div class="col-lg-12">
              <input type="file">
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card card-fluid" style="background-color: rgb(21, 32, 43);border:1px solid gray;color:white">
            <div class="card-body">
              <div class="row alert alert-danger" style="display: none">
                Form Errors
              </div>
              <div class="container">
                <div  class="row">
                  <div  class="col-lg-12">
                    <div class="display_profile" id="display_name">
                      {{ client.name }}
                    </div>
                    <div class="edit_input" style="display: none">
                      <input type="text" placeholder="Name">
                    </div>
                    <div class="row sub_head">
                      <div class="col-lg-11">@{{ client.user.username }}</div>
                      <div *ngIf="owner" class="col-lg-1">
                        <button type="button" id="edit_button" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row sub_head">
                  <div class="col-lg-4">
                    <div class="display_profile" id="display_sex">
                      <i class="fa fa-venus-mars"></i>
                      {{ client.sex }}
                    </div>
                    <div class="edit_input" style="display: none">
                      <i class="fa fa-venus-mars"></i>
                      <select name="sex" id="sex_select">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="display_profile" id="display_birthdate" ><i class="fa fa-birthday-cake"></i> {{ client.birthdate }}</div>

                    <div class="edit_input" style="display: none">
                      <i class="fa fa-birthday-cake"></i>
                      Input for the date
                    </div>

                  </div>

                </div>
              </div>
              <hr style="background-color: white">

              <div id="profile_body" class="row">
                <div class="col-lg-12">
                  <div class="display_profile" id="display_description">
                    {{ client.description }}
                  </div>
                  <div class="edit_input" style="display: none">

                    <textarea>Description</textarea>
                  </div>
                </div>
              </div>
              <div id="profile_footer" style="display: none" class="row">
                <div class="col-lg-12" ><input type="submit" class="btn btn-success" value="Save" name="Save" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </form>
</div>
