mat-form-field{
  width: 100%!important;
  font-size: 18px !important;
}
mat-label {
  color: #007bff;
}
mat-input-element {
  color: #007bff;
}
.form-group {
  color: #007bff;
}

.form-group ng-star-inserted {
  color: black;
}

.mat-option-text {
  color: #007bff;
}

.mat-checkbox-inner-container {
  background-color: #007bff;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}


