<div >
  <h4>Login</h4>
  <p>Already registered? Login here.</p>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <input type="text" placeholder="Username" class="form-control">
    </div>

    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group show_error">
      <p>Username and password do not match.</p>
    </div>
    <button (submit)="login()" class="btn rounded-pill btn-block btn-primary"  name="login" value="Login" >Login</button>
  </form>
</div>
