<div class="card card-fluid">
  <div class="card-header"><strong>Register</strong></div>

  <div class="card-body">
    <h4 class="card-title">Join the club.</h4>

    <form (ngSubmit)="register()">
      <div class="form-group ">
        <input type="email" placeholder="Email" >
      </div>

      <div class="form-group show_error">
        Email Errors
      </div>
      <div class="form-group">
        <input type="text" placeholder="Username">
      </div>
      <div class="form-group show_error">
        Username Errors
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password">
      </div>
      <div class="form-group show_error">
        Password Errors
      </div>
      <div class="form-group">
        <input type="password" placeholder="Confirm Password">
      </div>
      <div class="form-group show_error">
        Confirm Password
      </div>
      <button (submit)="register()" type="submit"  class="btn rounded-pill btn-block btn-dark" value="Register" name="register">Register</button>
    </form>

  </div>
</div>
