<div class="container">
  <form (ngSubmit)="filter()">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput name="search" type="text" [(ngModel)]="search">
        <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Order</mat-label>
        <mat-select [(ngModel)]="order" name="order">
          <mat-option value="recent">Recent</mat-option>
          <mat-option value="likes">Likes</mat-option>
          <mat-option value="comments">Comments</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Order by</mat-label>
        <mat-select [(ngModel)]="orderBy" name="orderBy">
          <mat-option value="desc">Descending</mat-option>
          <mat-option value="asc">Ascending</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Toppings</mat-label>
        <mat-select [(ngModel)]="selected_topics" multiple>
          <mat-option *ngFor="let topic of topics " [value]="topic">{{topic.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" class="btn btn-primary rounded-pill">Search</button>
    </div>
  </form>
</div>
