{% extends "layout.html" %}

{% block content %}
{% load static %}
    {% if personal %}
        <script>
        function like_post(username, post_id, id_button, id_like_button, number) {
             button_like = document.getElementById(id_button);
             like_icon = document.getElementById(id_like_button);
             number_text = document.getElementById(number);
             var val_like = $(button_like).val();
             number = $(number_text).html()

             if (val_like =='like'){
                $(like_icon).css("color","#007bff");
                $(button_like).val('dislike');
                $(number_text).html(parseInt(number) + 1);
             } else {
                 $(like_icon).css("color", "grey");
                 $(button_like).val('like');
                 $(number_text).html(parseInt(number) - 1);
             }
             var data = {};
             data['username'] = username;
             data['post_id'] = post_id;
             data['like'] = val_like;
             $.ajax({
                 type: 'GET',
                 url: '/post_like/',
                 data: data,
                 dataType: 'json',
                 success: function(json) {
                     alert(json);
                 }
             })
         };





        $('#nav_blog').addClass("active");
    </script>
    {% endif %}
<script>
    $(document).ready(function () {
        for (i = 0; i < {{ blog.subs.all.count }}; i++) {
            $("#id_subs_" + i).attr('checked', true);
        }
        for (i = 0; i < {{ blog_topics.topics_select|length }}; i++) {
            $("#id_topics_select_" + i).attr('checked', true);
        }
    });
</script>
<section style="margin-top: 180px;">
    <div class="row">
    {% if permission %}
      <div class="w3-card col-sm-2" style="text-align: center; height: 100%; background-color: transparent;">
        <div class="row">
          <a class="w3-bar-item" style="background-color: rgba(29,161,242,1.00);color: white; font-weight: bold; font-size: 20px; width: 100%; height: 50px; padding-top: 10px">
            SETTINGS </a></div>
        <div class="row">
          <a href="" data-toggle="modal" data-target="#BlogEdit" class="w3-bar-item w3-button w3-transparent w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
            Name / Description </a></div>
        {% if not personal %}
                <div class="row">
                  <a href="" data-toggle="modal" data-target="#Owners"  class="w3-bar-item w3-button w3-transparent w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
                    Owners</a></div>
            {% endif %}
            <div class="row">
          <a href="" data-toggle="modal" data-target="#Topic"  class="w3-bar-item w3-button w3-transparent w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
            Topic</a></div>
            <div class="row">
          <a href="" data-toggle="modal" data-target="#Visibility"  class="w3-bar-item w3-button w3-transparent w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
            Visibility</a></div>
        <div class="row">
      {% if blog.invites.all.values.count == 0 %}
              <a class="w3-bar-item w3-border w3-border w3-text-white" style="background-color: rgba(250, 250, 250, 0.4);color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px" disabled>
                        No Invites</a></div>
          {% else %}
          <a class="w3-bar-item w3-button w3-transparent w3-border" data-toggle="modal" data-target="#Invites" style="color: white;font-weight: bold; width: 100%; height: 50px; padding-top: 13px" disabled>
                        Invites</a></div>
    {% endif %}
                <div class="row">
            {% if blog.subs.all.values.count == 1 %}
             <a class="w3-bar-item w3-border w3-border w3-text-white" style="background-color: rgba(250, 250, 250, 0.4);color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px" disabled>
                        No Subscribers</a></div>
                {% else %}
          <a href="" data-toggle="modal" data-target="#Subscribers"  class="w3-bar-item w3-button w3-transparent w3-border" style="color: white; font-weight: bold; width: 100%; height: 50px; padding-top: 13px">
                            Subscribers</a></div>

          {% endif %}
        {% if not personal %}
        <div class="row">
          <a href="" data-toggle="modal" data-target="#Delete"  class="w3-bar-item w3-btn w3-border w3-border-red w3-text-red " style="background-color: rgba(20, 20, 20, 0.8) ;color: white; font-weight: bold; width: 100%; height: 40px;">
            Delete Blog</a></div>
            {% endif %}
      </div>

      <div class="modal fade" id="BlogEdit" tabindex="-1" role="dialog" aria-labelledby="BlogEdit" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Edit Name/Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_edit" method="GET">
                {% csrf_token %}
              <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Name:</label>
                  {{ blog_edit.name }}
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Description:</label>
                  {{ blog_edit.description }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Edit Blog value="Edit Blog">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Owners" tabindex="-1" role="dialog" aria-labelledby="Owners" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Post Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_owners" method="GET">
              {% for owner in blog.owner.all %}
                  <li>{{ owner.user.username }}</li>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                  <label for="recipient-name" class="col-form-label">Add an Owner:</label>
                  {{ blog_owners.username }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>


      <div class="modal fade" id="Subscribers" tabindex="-1" role="dialog" aria-labelledby="Subscribers" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Subscribers:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_subs" method="GET">
                  {% csrf_token %}
                  <div class="form-group">
                  <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                    <label for="recipient-name" class="col-form-label">Subscribers:</label>
                    {{ blog_subs.subs }}
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Submit Changes" value="Submit Changes">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>




      <div class="modal fade" id="Topic" tabindex="-1" role="dialog" aria-labelledby="Topic" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Topics</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_topics" method="GET">
                {% csrf_token %}
              <div class="form-group">
                <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                  <label for="recipient-name" class="col-form-label">Select Topic's:</label>
                  {{ blog_topics.topics_select }}
                    {{ blog_topics.topics_unselect }}
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Add Topic" value="Add Topic">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="Visibility" tabindex="-1" role="dialog" aria-labelledby="Visibility" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Visibility</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_visibility" method="GET">
                {% csrf_token %}
                <div class="form-group">
                <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>

                  <select id="visibility" name="visibility">

                    {% if blog.isPublic %}
                        <option  value="True" selected="selected">Public</option>
                        <option  value="False">Private</option>
                      {% else %}
                          <option  value="True">Public</option>
                          <option  value="False" selected="selected">Private</option>
                        {% endif %}
                  </select>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Delete Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_delete" method="GET">
                {% csrf_token %}
                <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                <div class="alert alert-danger">
                    <strong>Warning!</strong> This will permanently delete your Blog.</a>.
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-danger" name="Delete Blog" value="Delete Blog">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="Invites" tabindex="-1" role="dialog" aria-labelledby="Invites" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="PostLabel">Post Blog</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/blog_invites" method="GET">
                {% csrf_token %}
              <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                <div class="form-group">
                {{ blog_invites.invites }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" name="Submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

           <div class="col-sm-10" style="padding-left: 200px; padding-right: 200px;">
        {% else %}
            <div class="container">
        {% endif %}
    <div class="modal fade" id="Post" tabindex="-1" role="dialog" aria-labelledby="Post" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="PostLabel">Post Blog</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/blog_post/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Title:</label>
                      {{ blog_post.title }}
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      {{ blog_post.text}}
                    </div>
                    <div class="form-group">
                      {{ blog_post.image}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" class="btn btn-primary" name="Create Post" value="Create Post">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
            <div style="text-align: center; color: black;">
            {% if messages %}
                    <div class="col-sm-12" style="text-align: center; padding-bottom: 50px">
                       {% for message in messages %}
                           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<div class="alert alert-danger">Important:
                           {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS  %} <div class="alert alert-primary">
                           {% else %} <div class="alert alert-light">
                           {% endif %}
                       <h4>{{ message }}</h4></div>
                           {% endfor %}
                    </div>
                    {% endif %}
                <div class="row col-sm-12">
                <div class="col-sm-8" style="padding-left:36%">
                     {% if personal %}
                        <a style="color:white" href="/profile/{{ blog.owner.all.0.user.username }}" ><h1>{{ blog.name }}</h1></a>
                    {% else %}
                        <h1 style="color:white">{{ blog.name }}</h1>
                    {% endif %}
                </div>
                <div class="col-sm-4" style="text-align:right;margin-right: 0px">
                    {% if not permission %}
                       <form action="/blog_follow" method="GET">
                        <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                        {% if not subbed %}
                            {% csrf_token %}
                                <button id="follow-button" type="submit" name="Option" value="Follow">+ Follow</button>
                        {% else %}
                                <button id="following" type="submit" name="Option" value="Unfollow">Following</button>
                        {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    {% for topic in blog.topic.all %}
                        <span style="color:white"> &emsp;{{ topic }} </span>
                    {% endfor %}
                </div>
                <div class="col-sm-12" style="padding-top: 40px;color:white">
                    {% if blog.blog_pic %}
                        <img style=" height: 150px;width: 150px;border-radius: 50%;border:1px solid white" src="../media/{{ blog.blog_pic }}" alt="Avatar">
                    {% else %}
                        <img style=" height: 150px;width: 150px;border-radius: 50%;background-color:white;border:1px solid white" src="../media/default/default_blog.png" alt="Avatar">
                    {% endif %}
                    {% if permission %}
                        <div class="col-sm-12" style="padding-top: 10px">
                        <form method="POST" action="/blog_pic/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="blog_id" type="text" value="{{ blog.id }}" style="display: none" required>
                        {{ blog_pic_form.blog_pic }}
                        <button type="submit">Change Blog Image</button>
                        </form>
                        </div>
                    {% endif %}
                </div>
                <div style="text-align: center; text-align: center" class="col-sm-12"><h2 style="padding-top: 30px;color:white">{{ blog.description }}</h2></div>
                </div>
              </div>


            {% if not blog.isPublic and subbed or blog.isPublic or permission %}
                  <div class="col-sm-12 col-md-12 col-lg-12" id="postBtn" style="margin-top: 70px; margin-bottom: 70px;">
                    <a href="something" class="button3" data-toggle="modal" data-target="#Post" style="width: 100%;">Make a New a Post <i
                        class="fa fa-plus-circle" aria-hidden="true"></i></a>
                  </div>

             {% if form_errors %}
                <div class="row alert alert-danger">
                    {{ form_errors }}
                </div>
                {% endif %}
              <section id="services"  style="width: 100%;">

                     {% for post_det in posts_more_det %}
                       <div class="modal fade bd-example-modal-lg" id="Post_Details{{ post_det.post.id }}" tabindex="-1" role="dialog" aria-labelledby="Post_Details{{ post_det.post.id }}" aria-hidden="true" >
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="CommentLabel{{ post_det.post.id }}">Comments</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form action="/post_comment" method="GET">
                                  {% csrf_token %}
                                    {% for comment in post_det.comments %}
                                      <div class="form-group">
                                        <div class="row col-sm-12">
                                        <div class="col-sm-3">
                                        <h5 for="recipient-name" class="col-form-label" style="font-weight: bold;text-align: left">{{ comment.client }}:</h5>
                                        </div>
                                          <div class="col-sm-9">
                                            <h5 for="recipient-name" class="col-form-label" style="font-weight: bold;text-align: right">({{ comment.date|date:"SHORT_DATETIME_FORMAT" }}):</h5>
                                          </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <p>{{ comment.text }}</p>
                                        </div>
                                      </div>
                                        <hr>
                                {% endfor %}
                                  <div class="form-group">
                                    <input name="post_id" type="text" value="{{ post_det.post.id }}" style="display: none" required>
                                    <label for="message-text" class="col-form-label">Add a Comment:</label>
                                    <input type="text" name="com_text" required style="width: 100%">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Comment" name="Comment">
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>



                        <div class="row">
                        <div class="col-lg-12 filter-post wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"
                          style="width: 100%">
                          <div class="box" style="padding-bottom: 0px;border:1px solid gray;background-color:transparent">
                          <div style="height: 10px;" class="row">
                              <div style="text-align: left;" class="col-sm-6 row">
                              </div>
                              <div  class="col-sm-6" style="text-align: right;">
                                   <h6>{{ post_det.post.date|date:"SHORT_DATETIME_FORMAT" }}</h6>
                              </div>
                          </div>

                          <a href="/blog/{{ post_det.personal }}">
                          {% if post_det.post.client.profile_pic %}
                            <img id="profile_pic" class="profile_img" src="../media/{{ post_det.post.client.profile_pic }}" style="width: 60px;height: 60px" />
                        {% else %}
                            <img class="profile_img" style="width: 60px;height: 60px" src="../media/default/default_profile.jpg" />
                            {% endif %}
                            <p> {{ post_det.post.client }} </p>
                            </a>
                            <h4 class="title">{{ post_det.post.title }}</h4>
                            <p class="description">{{ post_det.post.text }}  </p>


                            {% if post_det.post.image %}
                               <img style="max-width: 800px;max-height: 350px" id="myImg" class="profile_img" src="../media/{{ post_det.post.image }}" />
                            {% endif %}
                          <br><br>
                        <hr style="background-color:white">
                            <div class="row col-sm-12 mb-3" style="padding-top: -2px">
                                <div class="col-sm-6" style="text-align: left; padding-left: 30px; font-size: 20px;">
                                    <input name="post_id" type="text" value="{{ post_det.post.id }}" style="display: none" required>
                                    <input name="post_id" type="text" value="{{ post_det.post.id }}" style="display: none" required>
                                                {% if post_det.post.likes.count == 0 %}
                                                    <button id="like{{ post_det.post.id }}" value="like"  style="background: transparent; border: 0px" onclick="like_post('{{ user.username }}', '{{ post_det.post.id }}', 'like{{ post_det.post.id }}', 'like_icon{{ post_det.post.id }}','number{{ post_det.post.id }}')">
                                                    <i class="fa fa-thumbs-up" id="like_icon{{ post_det.post.id }}" value="like" style="color:grey"></i> <span style="padding-left: 3px;color:white" id="number{{ post_det.post.id }}">{{ post_det.post.likes.count }}</span>
                                                {% else %}
                                                    {% if post_det.like %}
                                                        <button id="like{{ post_det.post.id }}" value="dislike" style="background: transparent; border: 0px" onclick="like_post('{{ user.username }}', '{{ post_det.post.id }}', 'like{{ post_det.post.id }}', 'like_icon{{ post_det.post.id }}','number{{ post_det.post.id }}')">
                                                        <i class="fa fa-thumbs-up" id="like_icon{{ post_det.post.id }}" value="dislike" style="color:#007bff"></i> <span style="padding-left: 3px;color:white" id="number{{ post_det.post.id }}">{{ post_det.post.likes.count }}<span/>
                                                    {% else %}
                                                        <button id="like{{ post_det.post.id }}" value="like" style="background: transparent; border: 0px" onclick="like_post('{{ user.username }}', '{{ post_det.post.id }}', 'like{{ post_det.post.id }}', 'like_icon{{ post_det.post.id }}','number{{ post_det.post.id }}')">
                                                        <i class="fa fa-thumbs-up" id="like_icon{{ post_det.post.id }}" value="like" style="color:grey"></i> <span style="padding-left: 3px;color:white" id="number{{ post_det.post.id }}">{{ post_det.post.likes.count }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </button>

                                </div>

                                 <div class="col-sm-6" style="text-align: right; font-size: 20px;">
                                   <a href="" data-toggle="modal" data-target="#Post_Details{{ post_det.post.id }}">
                                   <span>{{ post_det.comments|length  }} Comments</span></a>
                                 </div>
                            </div>



                          </div>
                        </div>
                      </div>
                      {% endfor %}

              </section>
            {% else %}
                <div class="alert alert-light" style="padding-top: 63px;margin-top: 70px;text-align: center">
                    <h4><strong>Warning!</strong><p>Must follow the Blog to access and post content</p></h4>.
                </div>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}