{% extends "layout.html" %}

{% block content %}
    {% load static %}
    <link href="{% static "css/settings.css" %}" rel="stylesheet">
    <section style="margin-top: 200px">
        <div class="container">
            {% if valid %}
                <div class="row alert alert-success">
                    <div class="col-lg-12">
                        <p>Account has been successfully updated.</p>
                    </div>
                </div>

            {% endif %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center card-fluid" style="color:white">
                        <form name="delete" id="deleteForm" action="." method="POST">
                            {% csrf_token %}
                            <h6 class="card-header"><strong>Settings</strong> </h6>
                            <nav class="nav nav-tabs flex-column">
                                <a name="delete" href="javascript:document.getElementById('deleteForm').submit()" class="nav-link alert-danger">Delete Account</a>
                                <input type="hidden" class="display:none" name="delete" value="delete" />
                            </nav>
                        </form>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div id="security_div" class="card card-fluid">

                        <h6 class="card-header" style="color:white"><strong>Account</strong></h6>
                        <div class="card-body">
                            <form method="POST" action=".">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-lg-12" style="color:white">
                                        <label for="id_username">Username</label>
                                        {{ form_security.username }}
                                    </div>
                                    {% if form_security_errors.username %}
                                    {{ form_security_errors.username }}
                                {% endif %}
                                </div>

                                <div class="row mb-3">
                                    <div class="col-lg-12" style="color:white">
                                        <label for="id_email">Email</label>
                                        {{ form_security.email }}
                                    </div>
                                    {% if form_security_errors.email %}
                                        {{ form_security_errors.email }}
                                    {% endif %}
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12" style="color:white">
                                        <label for="id_password1">New Password</label>
                                        {{ form_security.password1 }}
                                    </div>
                                    {% if form_security_errors.password1 %}
                                        {{ form_security_errors.password1 }}
                                    {% endif %}
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-12" style="color:white">
                                        <label for="id_password2">Confirm Password</label>
                                        {{ form_security.password2 }}
                                    </div>
                                    {% if form_security_errors.password2 %}
                                        {{ form_security_errors.password2 }}
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" >
                                        <input type="submit" class="btn rounded-pill btn-block btn-dark" name="security" value="Update Account">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </section>
{% endblock %}