<ng-template #template let-modal>
  <form (ngSubmit)="createPost()">
    <div class="modal-header">
      <h1 class="modal-title">Create Post</h1>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');clearData();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <mat-form-field>
          <mat-label>Title</mat-label>

          <input matInput type="text" name="title" [(ngModel)]="title">

          <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Message</mat-label>

          <input matInput type="text" name="Message" [(ngModel)]="content">

          <button mat-button *ngIf="content" matSuffix mat-icon-button aria-label="Clear"
                  (click)="content=''">
            <mat-icon>close</mat-icon>
          </button>

        </mat-form-field>
      </div>

      <div class="form-group">
        <input type="file" name="file" id="file-input">
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click');clearData();">Close</button>
      <button type="submit" (submit)="createPost()" class="btn btn-primary" name="Create Post" value="Create Post">Create Post</button>
    </div>
  </form>
</ng-template>

